#logo-img {
  height: 50px;
}

#title {
  background-color: #007BFF;
}

h1 {
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 100px;
  font-size: 3rem;
  line-height: 1.5;
  margin-left: 10px;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  margin-left: 10px;
}
#tc{
  color:white;
  line-height:3rem;
  font-family: 'Ubuntu', sans-serif;
}

#button1 {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

#button2 {
  margin-top: 50px;
  margin-bottom: 20px;
}
#iphone-img{
  width:40%;
  transform: rotate(20deg);
}
#features{
 padding:40px;
 background-color: white;
}
.col-sm{
  margin-top:50px;
  box-shadow: 5px 10px 18px #888888;
}
.col1{
  color: #007BFF;
  right:20px;
}
.col2{
    color: #007BFF;
    position:relative;
    left:5px;
}
.col3{
    color: #007BFF;
    position:relative;
    left:30px;
}
.i1{
  position:relative;
  left:110px;
  padding-top: 15px;
}
.i2{
  position:relative;
  left:110px;
  padding-top: 15px;
}
.i3{
  position:relative;
  left:110px;
  padding-top: 15px;
}
.col1:hover{
  color:#3282b8;
}
.col2:hover{
  color:#3282b8;
}
.col3:hover{
  color:#3282b8;
}
#fig{
  height:200px;
}
#testimonials{
  background-color:#3282b8;

  text-align:center;
}
.testimoial-img{
  width: 20%;
  border-radius:100%;
}
.carousel-item {
    padding:7% 15%;
}
#press-logo{
  background-color:#3282b8;
  text-align:center;
}
#press-logo img{
  width:250px;
  padding:20px 10px;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
#pricing{
  padding:100px;
}
#ph{
  margin: auto;
}
#cta{
   background-color:#3282b8;
   padding:20px;
   text-align:center;
}
#footer{
  background-color:#3282b8;
  text-align:right;
}
@media(max-width:1028px){
  #iphone-img{
    position: static;
    transform: rotate(0);
    margin-left: 50px;
  }
}
#footer i{
  position: relative;
  right: 600px;
  padding:10px;
}
#footer a{
  color:black;
}
